<% content_for :css do %>
  <style type="text/css">
    .required {
      color: red;
      display: inline;
    }
  </style>
<% end %>

<%= form_for(@user) do |f| %>

  <div class="field">
    <%= f.label :first_name %> <p class="required">*</p><br>
    <%= f.text_field :first_name %>
  </div>
  <div class="field">
    <%= f.label :last_name %> <p class="required">*</p><br>
    <%= f.text_field :last_name %>
  </div>
  <div class="field">
    <%= f.label :display_name %><br>
    <%= f.text_field :display_name %>
  </div>
  <div class="field">
    <%= f.label :street_address %> <p class="required">*</p><br>
    <%= f.text_field :street_address %>
  </div>
  <div class="field">
    <%= f.label :city %> <p class="required">*</p><br>
    <%= f.text_field :city %>
  </div>
  <div class="field">
    <%= f.label :state %> <p class="required">*</p><br>
    <%= f.text_field :state %>
  </div>
  <div class="field">
    <%= f.label :zip %> <p class="required">*</p><br>
    <%= f.text_field :zip %>
  </div>
  <div class="field">
    <%= f.label :email %> <p class="required">*</p><br>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :phone %> <p class="required">*</p><br>
    <%= f.text_field :phone %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
