<%= form_for(@education) do |f| %>
  <% if @education.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@education.errors.count, "error") %> prohibited this education from being saved:</h2>

      <ul>
      <% @education.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :major %><br>
    <%= f.text_field :major %>
  </div>
  <div class="field">
    <%= f.label :minor %><br>
    <%= f.text_field :minor %>
  </div>
  <div class="field">
    <%= f.label :degree %><br>
    <%= f.text_field :degree %>
  </div>
  <div class="field">
    <%= f.label :gpa %><br>
    <%= f.text_field :gpa %>
  </div>
  <div class="field">
    <%= f.label :class_of %><br>
    <%= f.number_field :class_of %>
  </div>
  <div class="field">
    <%= f.check_box :is_enrolled, class: "filled-in" %>
    <%= f.label :is_enrolled %>
  </div>
  <div class="field">
    <%= label_tag :education_accomplishments %><br>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<% content_for :script do %>
<script type="text/javascript">
  $(document).ready(function(){

  });
</script>
<% end %>
