<% content_for :css do %>
  <style type="text/css">
    .input-append input {
    width: 80%;
    }
    .input-append a {
    width: 30px;
    height: 30px;
    padding: 3px;
    display: inline;
    }
    .input-append .disabled {
    color: #ccc;
    pointer-events: none;
    }
    .required {
      color: red;
      display: inline;
    }
  </style>
<% end %>

<%= form_for(@education) do |f| %>
  
  <div class="row">
  <div class="field col l6 m6 s12">
    <%= f.label :school_name %> <p class="required">*</p><br>
    <%= f.text_field :school_name %>
  </div>
  <div class="field col l6 m6 s12">
    <%= f.label :school_location %> <p class="required">*</p><br>
    <%= f.text_field :school_location %>
  </div>
  <div class="field col l6 m6 s12">
    <%= f.label :major %> <p class="required">*</p><br>
    <%= f.text_field :major %>
  </div>
  <div class="field col l6 m6 s12">
    <%= f.label :minor %><br>
    <%= f.text_field :minor %>
  </div>
  <div class="field col l6 m6 s12">
    <%= f.label :degree %> <p class="required">*</p><br>
    <%= f.text_field :degree %>
  </div>
  <div class="field col l6 m6 s12">
    <%= f.label :gpa %><br>
    <%= f.number_field :gpa, :step => 0.01 %>
  </div>
  <div class="field col l6 m6 s12">
    <%= f.label :start_year %> <p class="required">*</p><br>
    <%= f.number_field :start_date %>
  </div>
  <div class="field col l6 m6 s12" id="end_date_wrapper">
    <%= f.label :end_year %> <p class="required">*</p><br>
    <%= f.number_field :end_date %>
  </div>
  <div class="field col s12" id="is_enrolled_wrapper">
    <%= f.check_box :is_enrolled, class: "filled-in" %>
    <%= f.label :is_enrolled %>
  </div>
  <div class="field col s12 education_accomplishment" style="margin-top: 20px">
    <%= label_tag :education_accomplishments %> <p class="required">*</p><br>
    <label>Include relevant coursework, school projects, honors, awards, scholarships, extracurricular activities, and leadership experience.</label>
    <% if @education.education_accomplishment.any? %>
    <% @education.education_accomplishment.each_with_index do |acc, i| %>
    <div class="input-append">
      <input id="education_accomplishment_<%= i %>" name="education[accomplishment][<%= i %>]" type="text" value="<%= acc.description %>">
      <a class="delete-btn" href="#!"><i class="material-icons">remove_circle_outline</i></a>
      <a class="add-btn" href="#!"><i class="material-icons">add_circle_outline</i></a>
      <a class="down-btn <%= ((acc == @education.education_accomplishment.last) || (@education.education_accomplishment.count == 0)) ? "disabled" : "" %>" href="#!"><i class="material-icons">arrow_downward</i></a>
      <a class="up-btn <%= ((acc == @education.education_accomplishment.first) || (@education.education_accomplishment.count == 0)) ? "disabled" : "" %>" href="#!"><i class="material-icons">arrow_upward</i></a>
    </div>
    <% end %>
    <% else %>
    <div class="input-append">
      <input id="education_accomplishment_0" name="education[accomplishment][0]" type="text" value="">
      <a class="delete-btn" href="#!"><i class="material-icons">remove_circle_outline</i></a>
      <a class="add-btn" href="#!"><i class="material-icons">add_circle_outline</i></a>
      <a class="down-btn disabled" href="#!"><i class="material-icons">arrow_downward</i></a>
      <a class="up-btn disabled" href="#!"><i class="material-icons">arrow_upward</i></a>
    </div>
    <% end %>
  </div>
  <div class="actions col s12">
    <%= yield :delete %>
    <%= f.submit "Add school", class: "btn blue-grey" %>
  </div>
  </div>
<% end %>

<% content_for :script do %>
<script type="text/javascript">
  $(document).ready(function(){
    $('input[id=education_is_enrolled]').change(function() {
      if($(this).is(':checked')) {
        $('#end_date_wrapper').hide();
        $('#end_date_wrapper').find("label").text("Class of");
        $('#end_date_wrapper').fadeIn();
      } else {
        $('#end_date_wrapper').hide();
        $('#end_date_wrapper').find("label").text("End year");
        $('#end_date_wrapper').fadeIn();
      }
    });
    $('.education_accomplishment').on('click', ".delete-btn", function() {
      var counter1 = $('.delete-btn').length;
      if(counter1 <= 1) {
        $(this).parent().find("input").val("");
      } else {
        // console.log($(this).parent().find("input").attr("id").replace("education_accomplishment_", ""));
        if(counter1-1 == $(this).parent().find("input").attr("id").replace("education_accomplishment_", "")) {
          $(this).parent().prev().find('.down-btn').addClass("disabled");
        }
        if($(this).parent().find("input").attr("id").replace("education_accomplishment_", "") == 0) {
          $(this).parent().next().find('.up-btn').addClass("disabled");
        }
        $(this).parent().remove();
        $.each($('.education_accomplishment').find("input"), function(i, input) {
          $(input).attr("id", "education_accomplishment_"+i);
          $(input).attr("name", "education[accomplishment]["+i+"]");
        });
      }
    });
    $('.education_accomplishment').on('click', ".add-btn", function() {
      $(this).parent().parent().find('.down-btn').removeClass("disabled");
      var counter = $('.education_accomplishment .input-append input').length;
      $(this).parent().parent().append(
        '<div class="input-append">'+
          '<input id="education_accomplishment_'+counter+'" name="education[accomplishment]['+counter+']" type="text" value="">'+
          '<a class="delete-btn" href="#!" style="margin: 2px"><i class="material-icons">remove_circle_outline</i></a>'+
          '<a class="add-btn" href="#!" style="margin: 2px"><i class="material-icons">add_circle_outline</i></a>'+
          '<a class="down-btn disabled" href="#!" style="margin: 2px"><i class="material-icons">arrow_downward</i></a>'+
          '<a class="up-btn" href="#!" style="margin: 2px"><i class="material-icons">arrow_upward</i></a>'+
        '</div>'
      );
    });
    $('.education_accomplishment').on('click', ".down-btn", function() {
      var first = $(this).parent().find("input");
      var second = $(this).parent().next().find("input");
      var temp = first.attr("name");
      var temp2 = first.attr("id");
      first.attr("name", second.attr("name"));
      first.attr("id", second.attr("id"));
      second.attr("name", temp);
      second.attr("id", temp2);
      temp = second;
      second.replaceWith(first);
      $(this).parent().prepend(temp);
    });
    $('.education_accomplishment').on('click', ".up-btn", function() {
      var first = $(this).parent().find("input");
      var second = $(this).parent().prev().find("input");
      var temp = first.attr("name");
      var temp2 = first.attr("id");
      first.attr("name", second.attr("name"));
      first.attr("id", second.attr("id"));
      second.attr("name", temp);
      second.attr("id", temp2);
      temp = second;
      second.replaceWith(first);
      $(this).parent().prepend(temp);
    });
  });
</script>
<% end %>
